@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    min-width: 80px;
    max-width: 120px;
    display: block;
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        'header header'
        'sidenav conteudo'
        'sidenav conteudo'
        'rodape rodape'
    ;
}

.cabecalho{
    grid-area: header;
    background-color: #D9EFC5;
    padding: 20px;
    display: flex;
}

.item-container{
    font-family: 'Amatic SC', cursive;
    flex-grow: 1;
    align-self: center;
}

.item-container h1{
    font-size: 2.5em;
    color: #A36852;
    text-align: center;
}

.item-container h2{
    color: #375F23;
    text-align: center;
}

ul{
    list-style: none;
}

.sidenav{
    grid-area: sidenav;
    padding: 20px;
    background-color: #e9e9e9;
    font-family: 'Vollkorn', serif;
}

.sidenav a{
    padding: 10px;
    display: block;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 3px 5px rgba(44, 44, 44, 0.1);
}

.sidenav li + li{
    margin-top: 20px;
}

.sidenav img{
    margin: 0px auto;
}

.sidenav div{
    text-align: center;
    margin: 10px -10px -10px -10px;
    background-color: #A36852;
    color: white;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidenav img{
    min-width: 70px;
    max-width: 80px;
}

.sidenav a:hover{
    background-color: aqua;
}

.sidenav a:hover > div{
    background-color: #375F23;
    color: #A36852;
}

.sidenav a, .sidenav div{
    transition-duration: 0.3s;
}

.content{
    grid-area: conteudo;
    padding: 20px;
    display: grid;
    grid-template-columns: 350px 1fr;
    row-gap: 20px;
    font-family: 'Vollkorn', serif;
}

.p1{
    align-self: center;
}

.p2{
    grid-column: 1 / -1;
}

.content img{
    max-width: 300px;
    justify-self: center;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(44, 44, 44, 0.15);
    border-radius: 5px;
}

.rodape{
    grid-area: rodape;
}